/* custom.css */

html {
  background-color: #D8D8D8; }

body {
  font-family: "Cutive Mono", monospace;
  color: #525252; }

svg {
  fill: #525252;
  vertical-align: middle;
  width: 2em; }

.logo {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity:0.52; }