* {
 fill: #525252;
 color: #525252;
 background-color: #D8D8D8;
}
h1 {
 font-family: 'Cutive Mono', monospace;
 text-align: center;
}
a {
  text-decoration: none;
}
p {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 24px;
  width: 100%;
  text-align: center;
  font-size: 24px;
}
img.logo {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100px;
}
svg {
  width: 24px;
}